<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840438567344-4e09c7ea0197251gbq691b0kldh4enet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840438567344-4e09c7ea0197251gbq691b0kldh4enet</string>
	<key>API_KEY</key>
	<string>AIzaSyC-kjYha2uDkMeLRKCRqJ3iSQcJRcbAy9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>840438567344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malpav3.malpav3</string>
	<key>PROJECT_ID</key>
	<string>malpav3-c686c</string>
	<key>STORAGE_BUCKET</key>
	<string>malpav3-c686c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840438567344:ios:b73dbfe749b84b19d14675</string>
</dict>
</plist>